name: CI

on:
  push:
  pull_request:

jobs:
  package_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run PSSemanticRelease
        shell: pwsh
        run: |
          $results = Invoke-ScriptAnalyzer ./PSSemanticRelease -Recurse
